@charset "utf-8";

// Customization
// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color

$basic-orange: #fb9744;
$basic-blue: #2287c9;
$basic-red: #c9443b;

$blue: $basic-blue;
$red: $basic-red;

$primary: $basic-orange;
$tabs-link-color: #fff;
$tabs-border-bottom-width: 2px;
$tabs-link-hover-color: $blue;
$tabs-link-padding: 0.25em 0.5em;
$tabs-link-active-color: $basic-blue;
$navbar-background-color: $basic-orange;
$section-padding: 1.5rem;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

#hero-section {
  background-image: url("../img/fon_1.png"), linear-gradient(#FFFFFF, #FCFCFC, #EDF03E, #FCFCFC, #FFFFFF);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -52px;
  padding-top: 52px;
}
.section-title {
  margin-bottom: 1rem;
}

#navbarMenu {
  align-self: flex-end;
  justify-content: center;
}

/*
#hero-columns {
  display: flex;
}
@media screen and (max-width: $tablet - 1px) {
  #hero-columns {
    flex-direction: column-reverse;
  }
}
*/

#mainForm {
  margin-top: 30px;
}

.modal-card-head, .modal-card-foot {
  justify-content: space-between;
}

.modal-card-title {
  flex: 0 1 auto;
}

/*NAVBAR*/
.logo {
  padding: 0 0.25rem;
}

.logo img {
  max-height: 52px;
}

.contact_phone {
  color: $white;
  font-size: 26px;
  line-height: 26px;
  vertical-align: middle;
}

.contact_phone__mobile {
  color: $white;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
}

.mobile-contacts {
  padding-left: 0;
  padding-right: 0.25rem;
}

.social-block__mobile {
  display: flex;
  padding-left: 0.5rem;
}

.social-block {
  display: flex;
  padding-left: 0.5rem;
}

.social-block > a > img {
  display: block;
  width: 32px;
  height: 32px;
  max-height: 32px;
  max-width: 32px;
}

.social-block a + a,
.social-block__mobile a + a {
  padding-left: 0.5rem;
}

.social-block__mobile > a > img {
  display: block;
  width: 32px;
  height: 32px;
  max-height: 32px;
  max-width: 32px;
}

.vcentered-icon {
  display: inline-block;
  vertical-align: middle;
}

.phone-icon,
.phone-number,
.phone-number__pre,
.phone-number-mobile__pre {
  vertical-align: middle;
  display: inline-block;
}

.phone-icon + .phone-number {
  margin-left: 0;
}

.navbar-title-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-subtitle {
  color: $white;
  font-size: 17px;
  line-height: 15px;
}

.navbar-maintitle {
  color: $white;
  font-size: 23px;
  line-height: 21px;
}

.main-title {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

.check-icon {
  color: $success;
  font-size: 5rem;
}

.reviews {
}

.reviews .card {
  box-shadow: none;
}

.rating {
  color: #ffc84b;
}

.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before {
  color: $basic-orange !important;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

//+tablet
//  .card
//    &.is-horizontal
//      display: flex;
//        .card-stacked
//          flex-direction: column;
//          flex: 1 1 auto;
//          display: flex;
//          position: relative;
//          .card-content
//            flex-grow: 1;

.card {
  @include from($tablet) {
    &.is-horizontal {
      display: flex;

      .card-image {
        flex: 0 1 auto;
        // width: 100%;
        // height: 100%;
      }

      .card-stacked {
        flex-direction: column;
        flex: 0 1 auto;
        display: flex;
        position: relative;

        .card-content {
          flex-grow: 1;
        }
      }
    }
  }

}

.is-small-image > img {
  width: 100%;
}
.is-small-image > img {
  max-height: 320px;
  max-width: 320px;
}
@include from($tablet) {


  .is-small-image > img {
    height: 200px !important;
    width: 200px !important;
  }

}

//.reviews-carousel .slick-slide {
//  margin: 0 1.5rem;
//}
//
//#pupils-gallery .slick-slide {
//  margin: 0 1.5rem;
//}
//
//.reviews-carousel .slick-list {
//  margin: 0 -1.5rem;
//}
//
//#pupils-gallery .slick-list {
//  margin: 0 -1.5rem;
//}

#hero__girl-image {
  margin-top: 40px;
}

.tabs.is-medium-to-large {
  font-size: 1.35rem;
}

.review-text {
  margin-bottom: 0 !important;
}

.readmore {
  margin-top: 1rem;
  align-self: flex-end;
  text-align: right;
}

.readmore-button {

}

/*  font-size: 16px;*/
.phone-number__pre {
  vertical-align: middle;
}

.feature-block {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  @include from($tablet) {
    justify-content: center;
    flex-direction: column;
  }

  .feature-block__icon + .feature-block__text {
    margin-left: 1rem;
  }
}

.modal-content iframe {
  height: 600px;
  max-height: 100%;
}