@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

//@media screen and (min-width: 1088px) {
//  .navbar.is-spaced {
//    padding: 1rem 2rem;
//  }
//
//  .navbar.is-spaced .navbar-start,
//  .navbar.is-spaced .navbar-end {
//    -webkit-box-align: center;
//    -ms-flex-align: center;
//    align-items: center;
//  }
//
//  .navbar.is-spaced a.navbar-item,
//  .navbar.is-spaced .navbar-link {
//    border-radius: 4px;
//  }
//}
#hero-section{
  background-image: url("../img/fon_1.png"), linear-gradient(#FFFFFF, #FCFCFC, #EDF03E, #FCFCFC, #FFFFFF);
  //background-position: center center;
  //background-attachment: fixed;
  //background-color: #999;


  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: $tablet - 1px) {
  #hero-columns {
    flex-direction: column-reverse;
  }
}

.modal-card-head, .modal-card-foot {
  justify-content: space-between;
}

.modal-card-title {
  flex: 0 1 auto;
}

//.logo {
//  font-size: 1.4em;
//}